body {
box-sizing: border-box;
color:#000000;
background: #99ccff;
font-size: 16px;
font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
line-height: 1;
-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-weight: 700;
font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
letter-spacing: -1px;
}

h1 {
font-size: 36px;
color: #0000ff;
font-weight: 700;
}

h2 {
padding-bottom: 10px;
color: #ff3399;
font-size: 32px;
}

h3 {
font-size: 28px;
color: #000000;
padding-bottom: 10px;
}

h4 {
font-size:; 21px;
}

p {
margin: 10px 0 15px 0;
}
