body {
box-sizing: border-box;
color:#5C5CE6;
background: #212121;
font-size: 16px;
font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
margin: 10px 0;
font-weight: 700;
color:#468999;
font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
letter-spacing: -1px;
}

h1 {
font-size: 36px;
font-weight: 700;
}

h2 {
padding-bottom: 10px;
font-size: 32px;
background: url('../images/bg_hr.png') repeat-x bottom;
}
